<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Currency Converter</title>
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">This is the currency converter app</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Currency Converter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/index">Home </a>
                <a class="nav-item nav-link active" href="/audithistory">History <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
</header>
<style>
    th{ 
        color:#fff;
            }
</style>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>QueryString</th>
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>
<script>
	var myArray = []
	$.ajax({
		method:'GET',
		url:'/history',
		success:function(response){
			myArray = response.auditEntries
			buildTable(myArray)
			console.log(myArray)
		}
	})

	function buildTable(auditEntries){
		var table = document.getElementById('myTable')

		for (var i = 0; i < auditEntries.length; i++){
			var row = `<tr>
						<td>${auditEntries[i].queryString}</td>
					  </tr>`
			table.innerHTML += row

		}
	}
</script>
</body>
</html>